
.validation-errors {
    color: var(--ion-color-danger, #f1453d);
}

.error-message {
    display: flex;
    align-items: center;
}

.error-icon {
    display: flex;
    align-self: center;
    padding: 5px 5px 5px 0;
}

